*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcbkptlist
*.xcscheme
**/xcshareddata/xcschemes
.DS_Store
.dart_tool/
.packages
.pub/
/build/
/ios/Flutter/Flutter.podspec
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.modulemap
/ios/Flutter/GeneratedPluginRegistrant.h
/ios/Flutter/GeneratedPluginRegistrant.m
/ios/Flutter/ephemeral/
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/Flutter/Flutter.podspec
/ios/Runner/Flutter/Flutter.framework
/ios/Runner/Flutter/Flutter.modulemap
/ios/Runner/Flutter/GeneratedPluginRegistrant.h
/ios/Runner/Flutter/GeneratedPluginRegistrant.m
/ios/Runner/Flutter/ephemeral/
/ios/Runner/Flutter/app.flx
/ios/Runner/Flutter/app.zip
/ios/Runner/Flutter/flutter_assets/
/ios/Runner/Flutter/flutter_export_environment.sh
